body {
    background-image: url('sidetrackedcut1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: lightblue;
    text-align: center;
}

header {
    background-color: lightslategray;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 27px;
}

.inf {
    display: grid;
    grid-template-columns: repeat(10, 1);
    grid-template-rows: repeat(7, 1);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.navi {
    background-color: rgb(255, 210, 217);
    padding: 20px;
    grid-area: 1 / 1 / 4 / 3;
}

aside {
    background-color: rgb(68, 209, 202);
    color: rgb(217, 78, 252);
    padding: 20px;
    grid-area: 4 / 1 / 8 / 3;
}

.sec1 {
    background-color: white;
    color: green;
    padding: 20px;
    text-align: left;
    grid-area: 1 / 3 / 8 / 11;
}

.tabl1 table, .tabl1 th, .tabl1 td {
    border: 10px solid white;
    border-collapse: collapse;
    color: rgb(29, 192, 124);
    vertical-align: top;
}

footer {
    clear: both;
    padding: 10px;
    text-align: center;
    background-color: lightsteelblue;
    color: white;
}

table, th, td {
    border: 1px solid aquamarine;
    border-collapse: collapse;
    color: white
}

.potato {
    color: rgb(9, 236, 149);
    text-align: center;
}

.tomato {
    color: turquoise;
    text-align: left;
}